<form class="form" action="https://formspree.io/lacunabodyworks@gmail.com" method="POST">
  <fieldset>
    <legend class="form__legend font-hind-bold">Contact Me</legend>

    <div class="form__input-wrapper">
      <div class="form__row">
        <label class="form__label" for="name">Name</label>
        <input class="form__text-input" type="text" id="name" name="name" placeholder="Jane Doe">
      </div>

      <div class="form__row">
        <label class="form__label" for="email">Email</label>
        <input class="form__text-input" type="email" id="email" name="email" placeholder="example@gmail.com">
      </div>

      <div class="form__row">
        <label class="form__label" for="message">Message</label>
        <textarea class="form__text-input form__textarea" rows="5" name="message" id="message" name="message" placeholder="I'd like to schedule a massage!"></textarea>
      </div>
    </div>

    <button class="form__button" type="submit">Submit</button>

    <input type="hidden" name="_subject" value="Website contact inquiry">
  </fieldset>
</form>
