<header class="header">
  <div class="container header__container">
    <div class="header__logo-wrapper">
      <a class="header__logo" href="{{ site.url }}/">L|A|C|U|N|A</a>
    </div>

    <button class="nav__button nav__button--open js-open-nav" type="button">
      <i class="fa fa-bars" aria-hidden="true" title="Open navigation"></i>
      <span class="sr-only">Open navigation</span>
    </button>

    <nav class="nav js-nav">
      <button class="nav__button nav__button--close js-close-nav" type="button">
        <i class="fa fa-times" aria-hidden="true" title="Close navigation"></i>
        <span class="sr-only">Close navigation</span>
      </button>

      <ul class="nav__list js-nav-list">
        {% assign navigation_pages = site.html_pages | sort: 'position' %}
        {% for p in navigation_pages %}
          {% if p.position %}
            <li class="nav__item">
              <a class="nav__link{% if p.url == page.url %} nav__link--active{% endif %}" href="{{ site.url }}{{ p.url }}">
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
