.hero {
  //
}

.hero__image {
  //
}

.hero__card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.hero__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}
