.hero {
  position: relative;
  max-height: 500px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    background: -moz-linear-gradient(top, $light-grey 0%, rgba(231,56,39,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $light-grey), color-stop(100%, rgba(231,56,39,0)));
    background: -webkit-linear-gradient(top, $light-grey 0%, rgba(231,56,39,0) 100%);
    background: -o-linear-gradient(top, $light-grey 0%, rgba(231,56,39,0) 100%);
    background: -ms-linear-gradient(top, $light-grey 0%, rgba(231,56,39,0) 100%);
    background: linear-gradient(to bottom, $light-grey 0%, rgba(231,56,39,0) 100%);
  }
}

.hero__image {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
}

.hero__card {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.hero__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}
