.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $arsenic;
  width: 300px;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition-property: transform;
  transition-duration: 195ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  padding: 25px;
  // box-shadow: -5px 0 30px 0 rgba(0, 0, 0, 0.5);

  @media (min-width: $small) {
    position: static;
    transform: translate3d(0, 0, 0);
    background-color: transparent;
    width: auto;
    padding: 0;
  }
}

.nav--open {
  transform: translate3d(0, 0, 0);
  transition-duration: 225ms;
}

.nav__button {
  font-size: 2rem;
  background-color: transparent;
  padding: 5px 10px;
}

.nav__button--open {
  color: $arsenic;

  @media (min-width: $small) {
    display: none;
  }
}

.nav__button--close {
  color: $pink;

  @media (min-width: $small) {
    display: none;
  }
}

.nav__list {
  @media (min-width: $small) {
    display: flex;
  }
}

.nav__item {}

.nav__link {
  display: block;
  color: $pink;
  padding: 10px;
  text-decoration: none;
  font-size: 1.25rem;

  &:hover {
    background-color: rgba(0,0,0,0.25);
    transition: background-color 0.1s linear;
  }
}

.nav__link--active {}
