{% include head.html %}

{% include header.html %}

<div class="content-wrapper">
  <div class="container">
    <div class="hero">
      <img class="hero__image" src="{{ page.hero.image }}" alt="{{ page.hero['welcome message'] }}">
      <div class="hero__card">
        <h1 class="hero__title font-hind-bold">{{ page.hero['welcome message'] }}</h1>
        <a class="hero__button" href="{{ page.hero.button.url }}">{{ page.hero.button.text }}</a>
      </div>
    </div>

    {{ content }}
  </div>
</div>

{% include footer.html %}
